@CHARSET "UTF-8";
body,h1,h2,h3,p,form,ul,li,dl,dt,dd{
	padding:0;
	margin:0;
}
body{
	width:960px;
	margin:0 auto;
	background:#ffff;
	font-size:12px;
	color:#666;
}
ul{
	list-style-type:none;
}
h2{
	font-size:12px;
	height:26px;
	line-height:26px;
	text-indent:10px;
	color:#360;
	background:url(../images/lbg.png);
	letter-spacing:1px;
}
#top{
	height:26px;
	background:url(../images/top_bg.png);
	margin:0 0 10px 0;
	text-align:right;
}
#top a {
	display:inline-block;
	padding:5px 10px 0 0;
	color:red;
}
#header{
	height:80px;
	
	margin:0 0 10px 0;
}
#header h1{
	width:250px;
	height:80px;
	background:url(../images/logo.png) no-repeat;
	font-size:12px;
	float:left;
}
#header h1 a {
	height:80px;
	display:block;
    text-indent:-9999px;
}
#header div.adver{
	width:690px;
	height:80px;
	float:right;
	border:1px solid #ccc;
}
#header div.adver img{
	display:block;
	
}
#nav{
	height:35px;
	
	background:url(../images/nav_bg.png);
	border:1px solid #ccc;
	border-bottom:none;
}
#nav ul{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight:bold;
	margin:0 0 0 18px;
	
}
#nav ul li{
	display:inline;
	padding:0 18px;
}
#nav ul li a {
	color:#369;
	text-decoration:none;
}
#nav ul li a:hover {
	color:#f60;
}
#search{
	height:25px;
	
	margin:0 0 10px 0;
	border:1px solid #ccc;
	border-top:none;
	padding:5px 0 0 5px;
}
#search form{
	
	float:left;
}
#search form select{
	background:#fff;
}
#search form input.text{
	width:200px;
	height:22px;
	background:#fff;
}
#search form input.submit{
	width:45px;
	height:22px;
	cursor:pointer;
	font-size:12px;
}
#search strong{
	float:left;
	padding:5px 0 0 15px;
}
#search ul{
	float:left;
	padding:5px 0 0 0;
}
#search ul li{
	float:left;
	padding:0 8px 0 0;
}
#search ul li a{
	color:green;
	text-decoration:none;
}
#search ul li a:hover{
	color:#f60;
}
#user{
	width:268px;
	height:398px;
	float:right;
	margin:0 0 10px 0;
	border:1px solid #ccc;
}
#user form{
	position:relative;
	
}
#user form label{
	display:block;
	padding:8px 0 5px 12px;

}
#user form label input.text{
	width:180px;
	height:20px;
	border:1px solid #666;
	background:#eee;
}
#user form label input.code{
	width:100px;
}
#user form img{
	position:absolute;
	top:68px;
	left:160px;
}
#user form p{
	text-align:center;
}
#user form p input.submit{
	width:45px;
	height:20px;
	cursor:pointer;
	font-size:12px;
}
#user form p a{
	color:green;
	text-decoration:none;
}
#user form p a:hover{
	text-decoration:underline;
}
#user h3{
	font-size:12px;
	padding:8px 10px;
}
#user h3 span{
	color:#ccc;
}
#user dl{
	float:left;
	margin:5px 6px 2px 6px;
	
}
#user dl dt img{
	
	display:block;
}
#user dl dd{
	
	padding:5px 0;
	text-align:center;
}
#news{
	width:378px;
	height:398px;
	border:1px solid #ccc;
	float:right;
	padding:0 10px;
	margin:0 10px 10px 0;
}
#news h3{
	text-align:center;
	padding:10px;
	color:#333;
	font-size:16px;
}
#news h3 a{
	color:#333;
	text-decoration:none
}
#news h3 a:hover{
	color:#333;
	text-decoration:underline;
}
#news p {
	line-height:150%;
}
#news p a {
	color:#333;
	text-decoration:none;
}
#news p a:hover {
	color:#333;
	text-decoration:underline;
}
#news p.link{
	
	color:green;
	padding:5px 0;
	border-bottom:1px dashed #999;
}
#news p.link a{
	color:green;
	display:inline-block;
	padding:0 0 5px 0;
}
#news ul{
	padding:5px 10px 0 0px;
}
#news ul li{
	height:25px;
	line-height:25px;
	background:url(../images/pointer.png) no-repeat left center;
	padding:5px 0 0 15px;
}
#news ul li em{
	float:right;
	font-style:nomal;
	font-family:Tahoma;
}
#pic{
	width:270px;
	height:195px;
	background:green;
	float:left;
	margin:0 0 10px 0;
	
}

#pic img{
	display:block;
	border:1px solid #ccc;
	
}
#rec{
	width:268px;
	height:193px;
	
	float:left;
	margin:0 0 10px 0;
	border:1px solid #ccc;

}
#rec ul{
	padding:2px 10px 0 5px;
	
}
#rec ul li{
	background:url(../images/pointer.png) no-repeat left center;
	height:25px;
	line-height:25px;
	padding:0 0 0 15px;
}
#rec ul li em{
	float:right;
	font-style:normal;
	font-family:Tahoma;
}
#rec ul li a {
	color:#666;
	text-decoration:none;
}
#rec ul li a:hover {
	color:#666;
	text-decoration:underline ;
}
#siderbar-right{
	width:270px;
	height:835px;
	
	float:right;	
	margin:0 0 10px 0;
}
#siderbar-right div.adver{
	width:268px;
	height:198px;
	border:1px solid #ccc;
	margin:0 0 10px 0;
}
#siderbar-right div.adver img{
	display:block;
}
#siderbar-right div.hot,#siderbar-right div.comm,#siderbar-right div.vote{
    border:1px solid #ccc;
	height:200px;
	margin:0 0 10px 0;	
}
#siderbar-right div.vote{
	margin:0;
}
#siderbar-right div.vote h3{
	padding:10px;
	text-align:center;
	font-size:14px;
	color:#369;
	border-bottom:1px dashed #ccc;
	width:80%:
	margin:5px auto;
}
#siderbar-right div.vote form label{
	display:block;
	padding:2px 0 2px 20px;
}
#siderbar-right div.vote form p{
	text-align:center;
	padding:10px;
}
#siderbar-right div.vote form p input{
	width:45px;
	height:20px;
	margin:0 10px 0 0;
	cursor:pointer;
	font-size:12px;
}
#siderbar-right ul{
	padding:5px 10px 0 5px;
	
}
#siderbar-right ul li{
	background:url(../images/pointer.png) no-repeat left center;
	height:25px;
	line-height:25px;
	padding:0 0 0 15px;
}
#siderbar-right ul li em{
	float:right;
	font-style:normal;
	font-family:Tahoma;
}
#siderbar-right ul li a {
	color:#666;
	text-decoration:none;
}
#siderbar-right ul li a:hover {
	color:#666;
	text-decoration:underline ;
}
#picnews{
	width:678px;
	height:198px;
	border:1px solid #ccc;
	float:left;
	margin:0 0 10px 0;
}
#picnews dl{
	width:156px;
	float:left;
	padding:10px 0 0 11px;
}
#picnews dl dt{
	border:1px solid #999;
	padding:2px;
	
}
#picnews dl dt img{
	border:none;
	display:block;
	
	
}
#picnews dl dd{
	padding:5px;
	text-align:center;
}
#picnews dl dd a{
	color:#666;
	text-decoration:none;
}
#picnews dl dd a:hover{

	text-decoration:underline;
}
#newlist{
	width:680px;
	height:625px;
	
	float:left;
	margin:0 0 10px 0;
	
}
#newlist div.list{
	height:306px;
	width:49%;
	float:left;
	border:1px solid #ccc;
}
#newlist div.list h2 a{
	float:right;
	padding:0 10px 0 0;
	color:green;
	text-decoration:none;
}
#newlist div.list h2 a:hover{
	color:green;
	text-decoration:underline;	
}
#newlist ul{
	padding:10px 10px 0 0px;
}
#newlist ul li{
	height:25px;
	line-height:25px;
	background:url(../images/arrow.png) no-repeat left center;
	padding:5px 0 0 15px;
}
#newlist ul li em{
	float:right;
	font-style:nomal;
	font-family:Tahoma;
}
#newlist div.right{
	float:right;
}
#newlist div.bottom{
	margin:0 0 10px 0;
}
#link{
	width:958px;
	height:108px;
	border:1px solid #ccc;
	float:left;
	margin:0 0 10px 0;
}
#link span{
	float:right;
	font-weight:normal;
	padding:0 10px 0 0;
}
#link span a {
	color:#360;
	text-decoration:none;
}
#link span a:hover{
	color:#f60;
	
}
#link ul{
	height:30px;
	line-height:30px;
	border-bottom:1px dashed #999;
	width:98%;
	margin:0 auto;
}
#link ul li{
	display:inline;
	padding:5px 0 0 5px;
}
#link ul li a{
	color:#666;
	text-decoration:none;
}
#link ul li a:hover{
	text-decoration:underline;
}
#link dl{
	padding:5px 0 0 0;
}
#link dl dd{
	padding:0 9px;
	float:left;
}
#link dl dd img{
	border:none;
	display:block;
}
#footer{
	width:960px;
	height:40px;
	
	float:left;
}
#footer p{
	text-align:center;
	line-height:150%;
	font-family:Tahoma;
	color:#333;
}
#footer p span{
	color:#06f;
}
